.nav {
  align-items: center;
  display: flex;
  position: relative;
  margin-top: 47px;

  &__ico--home {
    height: 17px;
    width: 17px;
  }

  &__ico--right {
    height: 10px;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 1px;
    width: 15px;
  }

  &__link-1 {
    color: #7e72f2;
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-s);
  }

  &__link-2 {
    color: var(--heavy-metal);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-s);
  }
}
