.pagination {
  display: flex;
  margin-left: 121px;
  margin-top: 38px;
  min-width: 80%;

  & a {
    color: #2C2C2C;;
    float: left;
    padding: 0 16px 0 16px;
    text-decoration: none;
  }

  & a.active {
    background-color: #7e72f2;
    color: white;
    border-radius: 50%;
    padding: 12px 15px;
  }

  &__pages {
    background: #EDEDED;
    border-radius: 50px;
    padding: 0 10px;
    align-items: center;
    display: flex;
  }
}


@media (max-width: 75em) {
  .pagination {
    justify-content: center;
    margin-left: 0;
  }
}

