.search-bar {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 2px 8px #00000022;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 18px 22px;

  &__input {
    color: var(--mountain-mist);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-xl);
    font-weight: 300;
    letter-spacing: 0;
    line-height: 26px;
    min-height: 26px;
    white-space: nowrap;
    width: 80%;
  }
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  opacity: 0;
  pointer-events: none;
}
