:root {
  --blue-marguerite: #6f64f8;
  --heavy-metal: #2c2c2c;
  --mountain-mist: #999999;
  --white: #ffffff;

  --font-size-l: 18px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xl: 22px;
  --font-size-xs: 12px;
  --font-size-xxl: 48px;

  --font-family-montserrat: "Montserrat", Helvetica;
}

.montserrat-normal-heavy-metal-18px {
  color: var(--heavy-metal);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.montserrat-normal-heavy-metal-16px {
  color: var(--heavy-metal);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.montserrat-light-heavy-metal-12px {
  color: var(--heavy-metal);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 300;
}

.montserrat-semi-bold-heavy-metal-14px {
  color: var(--heavy-metal);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}

.montserrat-semi-bold-white-14px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}

.montserrat-semi-bold-heavy-metal-18px {
  color: var(--heavy-metal);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 600;
}

.montserrat-light-heavy-metal-16px {
  color: var(--heavy-metal);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
}

.border-1px-mountain-mist {
  border: 1px solid var(--mountain-mist);
}

@media (min-width: 1200px) {
  :root {
    --font-size-l: 16px;
    --font-size-m: 14px;
    --font-size-s: 12px;
    --font-size-xl: 20px;
    --font-size-xs: 10px;
    --font-size-xxl: 46px;

    --font-family-montserrat: "Montserrat", Helvetica;
  }
}
