html,body,div,span, h1,h2,h3,h4,h5,h6,p,a {
  margin:0;
  padding:0;
}

a {
  text-decoration: none;
}

input,
input:focus {
  border: none;
  outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  opacity: 0;
  pointer-events: none;
}
