.header {
  display: flex;

  &__logo {
    height: 72px;
    width: 90px;
  }

  &__title {
    color: $blue-marguerite;
    font-family: $font-family-montserrat;
    font-size: $font-size-xxl;
    font-weight: 600;
    align-items: center;
    display: flex;
    margin-left: 22px;
  }
}
